[attr]lfs                       filter=lfs diff=lfs merge=lfs -text
[attr]unity-json                eol=lf linguist-language=json
[attr]unity-yaml                merge=unityyamlmerge eol=lf linguist-language=yaml


*                               text=auto

*.3dm                           lfs
*.3ds                           lfs
*.7z                            lfs
*.FBX                           lfs
*.a                             lfs
*.ai                            lfs
*.aif                           lfs
*.aiff                          lfs
*.anim                          unity-yaml
*.apk                           lfs
*.asf                           lfs
*.asmdef                        unity-json
*.asmref                        unity-json
*.asset                         unity-yaml
*.avi                           lfs
*.bash                          eol=lf text
*.bat                           eol=crlf text
*.bin                           lfs
*.blend                         lfs
*.blend1                        lfs
*.bmp                           lfs
*.brush                         unity-yaml
*.bz2                           lfs
*.c4d                           lfs
*.cginc                         eol=lf text
*.cmd                           eol=crlf text
*.collada                       lfs
*.colors                        unity-yaml
*.compute                       text linguist-language=hlsl
*.controller                    unity-yaml
*.cs                            eol=lf text diff=csharp
*.cubemap                       lfs
*.dae                           lfs
*.dll                           lfs
*.dxf                           lfs
*.eot                           lfs
*.exe                           lfs
*.exr                           lfs
*.fbx                           lfs
*.flare                         unity-yaml
*.flv                           lfs
*.fontsettings                  unity-yaml
*.gif                           lfs
*.giparams                      unity-yaml
*.glb                           lfs
*.glsl                          eol=lf text
*.gltf                          lfs
*.gso                           lfs
*.guiskin                       unity-yaml
*.gz                            lfs
*.hdr                           lfs
*.hlsl                          text linguist-language=hlsl
*.iff                           lfs
*.index                         unity-json
*.inputactions                  unity-json
*.it                            lfs
*.jas                           lfs
*.jpeg                          lfs
*.jpg                           lfs
*.lighting                      unity-yaml
*.lws                           lfs
*.lxo                           lfs
*.lz4                           lfs
*.ma                            lfs
*.mask                          unity-yaml
*.mat                           unity-yaml
*.max                           lfs
*.mb                            lfs
*.meta                          unity-yaml
*.mixer                         unity-yaml
*.mod                           lfs
*.mov                           lfs
*.mp3                           lfs
*.mp4                           lfs
*.mpeg                          lfs
*.mpg                           lfs
*.obj                           lfs
*.ogg                           lfs
*.ogv                           lfs
*.otf                           lfs
*.overrideController            unity-yaml
*.pdb                           lfs
*.pdf                           lfs
*.physicMaterial                unity-yaml
*.physicsMaterial2D             unity-yaml
*.pict                          lfs
*.playable                      unity-yaml
*.ply                           lfs
*.png                           lfs
*.prefab                        unity-yaml
*.preset                        unity-yaml
*.psd                           lfs
*.pso                           lfs
*.rar                           lfs
*.raytrace                      text linguist-language=hlsl
*.reason                        lfs
*.renderTexture                 unity-yaml
*.rns                           lfs
*.s3m                           lfs
*.scenetemplate                 unity-yaml
*.sh                            eol=lf text
*.shader                        eol=lf text
*.shadergraph                   unity-json
*.shadersubgraph                unity-json
*.shadervariants                unity-yaml
*.signal                        unity-yaml
*.skel.bytes                    lfs
*.skp                           lfs
*.so                            lfs
*.spriteatlas                   unity-yaml
*.spriteatlasv2                 unity-yaml
*.stl                           lfs
*.tar                           lfs
*.terrainlayer                  unity-yaml
*.tga                           lfs
*.tif                           lfs
*.tiff                          lfs
*.tpsheet                       unity-yaml
*.tss                           text diff=css linguist-language=css
*.ttf                           lfs
*.unity                         unity-yaml
*.unitypackage                  lfs
*.uss                           text diff=css linguist-language=css
*.uxml                          text linguist-language=xml linguist-detectable
*.wav                           lfs
*.webp                          lfs
*.wmv                           lfs
*.woff                          lfs
*.woff2                         lfs
*.xm                            lfs
*.zip                           lfs
*.ztl                           lfs

*[Ll]ighting[Dd]ata*.asset      lfs
*[Nn]av[Mm]esh*.asset           lfs
*[Oo]cclusion[Cc]ulling*.asset  lfs
*[Tt]errain*.asset              lfs

Assets/Plugins/**               linguist-generated
Packages/packages-lock.json     linguist-generated


#                                                                                #
#        Dragon Resonance                           Copyright © 2022-2026        #
#        2026.06.27.0                                 All rights reserved        #
#                                                                                #